*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 20em) {
    html {
      font-size: 40%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #2e475d;
  font-weight: 300;
  line-height: 1.6; }

.container {
  width: 140rem;
  margin: 0 auto;
  font-size: 20px;
  display: grid;
  grid-template-columns: [left-start] 1fr [left-end center-start] min-content [center-end right-start] 1fr [right-end];
  grid-template-rows: [sidebar-start] max-content [sidebar-end disclaimer-start] max-content [disclaimer-end header-start] max-content [header-end about-start] min-content [about-end statistics-start] max-content [statistics-end feature-start] min-content [feature-end footer-start] 1fr [footer-end]; }

h1,
h3,
h4, .btn {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600; }

h1,
h3,
h4 {
  color: #2e475d;
  line-height: 1; }

p {
  color: #2e475d; }

.btn {
  color: #fff;
  border: none;
  border-radius: 2px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 2rem 4rem;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: all .2s; }
  .btn-color {
    background-color: #ff5c35;
    margin-right: 2rem; }
    .btn-color-long {
      text-align: center;
      width: 100%; }
  .btn-white {
    background-color: #fff;
    color: #ff5c35;
    outline: 1px solid #ff5c35; }
    .btn-white:hover {
      background-color: #ff5d3522; }
  .btn:hover {
    background-color: #ff5d3559; }
  .btn-text {
    font-size: 1.5rem; }

h3.about_heading {
  font-size: 4rem; }

h4.card_title {
  font-size: 3rem;
  margin-bottom: 2rem; }

h5.heading-5 {
  font-size: 2.5rem; }

.side {
  background-color: #f6f9fc;
  grid-row: sidebar-start / sidebar-end;
  grid-column: left-start/right-end;
  padding: 3rem;
  display: grid;
  grid-template-rows: max-content max-content 1fr 1fr;
  grid-template-columns: 1fr; }
  .side .sidebar_top {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding-top: 3rem; }
    .side .sidebar_top-left {
      grid-column: 1/2;
      display: flex;
      gap: 2rem;
      list-style: none; }
    .side .sidebar_top-right {
      grid-column: 2/-1;
      justify-content: end;
      display: flex;
      gap: 2rem;
      text-decoration: none;
      list-style: none; }
    .side .sidebar_top .sidebar_top-left-link:link,
    .side .sidebar_top .sidebar_top-left-link:visited,
    .side .sidebar_top .sidebar_top-right-link:link,
    .side .sidebar_top .sidebar_top-right-link:visited {
      display: block;
      font-size: 1.8rem;
      color: #213343;
      text-decoration: none;
      font-weight: 600; }
    .side .sidebar_top .sidebar_top-left-link:hover,
    .side .sidebar_top .sidebar_top-left-link:active,
    .side .sidebar_top .sidebar_top-right-link:hover,
    .side .sidebar_top .sidebar_top-right-link:active {
      display: block;
      font-size: 1.8rem;
      color: #257575;
      text-decoration: underline;
      font-weight: 600; }
  .side .sidebar_bot {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding-top: 3rem; }
    .side .sidebar_bot-left {
      grid-column: 1/2;
      display: flex;
      gap: 4rem;
      list-style: none;
      justify-content: start;
      align-items: center; }
      .side .sidebar_bot-left .logo {
        display: flex;
        width: 10rem;
        align-items: center; }
      .side .sidebar_bot-left-link:link, .side .sidebar_bot-left-link:visited {
        display: block;
        display: flex;
        align-items: center;
        font-size: 2rem;
        color: #213343;
        text-decoration: none;
        font-weight: 600; }
      .side .sidebar_bot-left-link:hover, .side .sidebar_bot-left-link:active {
        font-size: 2rem;
        color: #257575;
        text-decoration: underline;
        font-weight: 600; }
    .side .sidebar_bot-right {
      grid-column: 2/-1;
      justify-content: end;
      display: flex;
      gap: 2rem;
      text-decoration: none;
      list-style: none; }
    .side .sidebar_bot button.btn.btn-color {
      padding: 1rem 2rem;
      font-size: 1.2rem;
      margin-bottom: 0rem; }
    .side .sidebar_bot button.btn.btn-white {
      padding: 1.2rem 2rem;
      font-size: 1.2rem;
      margin-bottom: 0rem;
      margin-right: 0rem; }
  .side button.btn.btn-white.click {
    margin: 2rem 0;
    padding: 2rem 4rem;
    grid-row: 3/4;
    font-size: 2rem; }
  .side .sidebar_disclaimer {
    display: relative;
    display: block;
    grid-row: 4/ 5;
    grid-column: 1/-1;
    background-image: linear-gradient(to right top, #17beb6, #4db170);
    padding: 3rem 3rem; }
    .side .sidebar_disclaimer_checkbox {
      height: 7rem;
      width: 7rem; }
    .side .sidebar_disclaimer_button {
      background-color: #ffffff;
      height: 7rem;
      width: 7rem;
      position: fixed;
      border-radius: 50%;
      z-index: 2000;
      box-shadow: 0 1rem 3rem rgba(33, 51, 67, 0.1);
      text-align: center;
      cursor: pointer; }
    .side .sidebar_disclaimer-text-item {
      color: #ffffff;
      text-align: center;
      font-size: 5rem;
      font-weight: 600;
      font-family: "Nunito", sans-serif;
      opacity: 0; }
    .side .sidebar_disclaimer_checkbox:checked ~ .side .sidebar_disclaimer-item {
      opacity: 1;
      width: 100%; }
    .side .sidebar_disclaimer input.disclaimer:checked + .sidebar_disclaimer {
      color: red; }

.header {
  padding: 3rem;
  background-color: #fef4ea;
  grid-row: header-start / header-end;
  grid-column: 1/-1;
  align-items: center;
  padding-top: 12rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem; }
  .header_content-title {
    font-size: 6rem;
    margin-bottom: 3rem; }
  .header_content-text {
    font-size: 2rem;
    margin-bottom: 3rem; }
  .header-image {
    width: 150%; }

.about {
  background-color: #f6f9fc;
  grid-row: about-start / about-end;
  grid-column: 1/-1;
  padding: 3rem; }
  .about_content {
    text-align: center; }
    .about_content .about_heading {
      font-size: 4rem;
      margin-bottom: 5rem; }
    .about_content .about_text {
      font-size: 2rem;
      text-align: start;
      margin-bottom: 3rem; }
  .about_cards {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3rem;
    align-items: center;
    justify-content: center; }
  .about_card {
    background-color: #fff;
    padding: 2rem 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all .3s;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 42% 15%;
    height: 400px; }
    .about_card:hover {
      transform: translateY(-1px);
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 20px 2px; }
    .about_card .card_header {
      height: fit-content;
      grid-row: 1/2; }
    .about_card .card_title {
      font-size: 3rem; }
    .about_card .card_text {
      font-size: 1.7rem;
      height: fit-content; }
    .about_card .card_list {
      margin-top: 1rem;
      margin-bottom: 2rem;
      border-top: 1px solid #2e475d; }
      .about_card .card_list-title {
        font-size: 2rem;
        margin: 1.2rem 0; }
      .about_card .card_list-items {
        list-style: none;
        font-size: 1.6rem; }
      .about_card .card_list-item:not(:last-child) {
        margin-bottom: .5rem; }
    .about_card button.btn {
      margin: 0rem; }

.article {
  background-color: #fff;
  margin-top: 20rem;
  grid-column: col-start 1 / col-end 5;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 1em; }
  .article_images {
    width: 100%; }
    .article_images_image {
      width: 100%; }
  .article_content {
    padding: 0 2rem; }
    .article_content-heading {
      font-size: 2.1rem;
      margin-bottom: 2rem; }
    .article_content-text {
      font-size: 1.8rem;
      margin-bottom: 4rem; }

.feature {
  background-color: #ffffff;
  grid-row: feature-start / feature-end;
  grid-column: 1/-1;
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center; }
  .feature_1 {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 40% 55%;
    gap: 5rem;
    align-items: center;
    justify-content: center; }
    .feature_1-header {
      margin-bottom: 1.5rem; }
    .feature_1-text {
      font-size: 2rem;
      margin-bottom: 2.5rem; }
    .feature_1-image {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      align-items: stretch;
      justify-content: end; }
      .feature_1-image-1 {
        grid-column: 1/-1;
        grid-row: 1/2;
        margin-bottom: 4rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        padding: 0 1rem; }
      .feature_1-image-2 {
        grid-column: 1/-1;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: repeat(4, 1fr); }
      .feature_1-image .feature-image {
        width: 100%; }
  .feature_2 {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 55% 40%;
    gap: 5rem;
    align-items: center;
    justify-content: center; }
    .feature_2 .feature-image-big {
      width: 100%; }

.statistics {
  background-image: linear-gradient(to right top, #17beb6, #4db170);
  grid-row: statistics-start / statistics-end;
  grid-column: 1/-1;
  padding: 3rem; }
  .statistics_header {
    margin-top: 7rem;
    margin-bottom: 2rem;
    padding: 0 10% 0 10%;
    color: #fff;
    text-align: center; }
  .statistics_text {
    font-size: 1.8rem;
    padding: 0 10% 0 10%;
    color: #fff;
    text-align: center;
    margin-bottom: 7rem; }
  .statistics_tables {
    padding: 3rem; }
    .statistics_tables .a1 {
      grid-row: 1/2;
      display: grid;
      grid-template-columns: repeat(4, 1fr); }
    .statistics_tables .statistics_table-1,
    .statistics_tables .statistics_table-2 {
      width: 100%;
      display: flex;
      gap: .1rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #fff;
      padding: 3rem; }
    .statistics_tables .statistics_table-1 {
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff; }
      .statistics_tables .statistics_table-1:last-child {
        border-right: 0px solid #fff; }
      .statistics_tables .statistics_table-1-figure {
        font-size: 3.5rem; }
      .statistics_tables .statistics_table-1-text {
        font-size: 1.8rem; }
    .statistics_tables .statistics_table-2 {
      width: 100%; }
      .statistics_tables .statistics_table-2:not(:last-child) {
        border-right: 2px solid #fff; }
      .statistics_tables .statistics_table-2-figure {
        font-size: 3.5rem; }
      .statistics_tables .statistics_table-2-text {
        font-size: 1.8rem; }
      .statistics_tables .statistics_table-2-icon1 {
        width: 17rem;
        height: auto; }

.foot {
  background-color: #213343;
  grid-row: footer-start / footer-end;
  grid-column: 1/-1;
  padding: 7rem 3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content); }
  .foot .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    padding: 0 5rem; }
    .foot .footer_heading {
      color: #fff;
      margin-bottom: 1.5rem; }
    .foot .footer_lists {
      list-style: none; }
      .foot .footer_lists .footer_list:link,
      .foot .footer_lists .footer_list:visited {
        display: block;
        color: #9CB7CF;
        font-size: 1.5rem;
        font-weight: 600;
        text-decoration: none;
        margin-bottom: 1.5rem; }
      .foot .footer_lists .footer_list:hover,
      .foot .footer_lists .footer_list:active {
        color: #8bf4f4;
        text-decoration: underline; }
      .foot .footer_lists-popular {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem; }
        .foot .footer_lists-popular .1 {
          grid-column: 1/2; }
    .foot .footer_x2 .footer_customers {
      margin-bottom: 9rem; }
    .foot .footer_socials {
      grid-column: 1/3;
      text-align: center;
      margin: 5rem auto;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .foot .footer_socials::before, .foot .footer_socials::after {
        content: "";
        height: 2px;
        width: 25%;
        display: block;
        background-color: #aab4bd; }
      .foot .footer_socials::after {
        margin-left: 4rem; }
      .foot .footer_socials::before {
        margin-right: 4rem; }
      .foot .footer_socials .footer_social {
        width: 3.4rem;
        height: 3.4rem;
        fill: #aab4bd; }
        .foot .footer_socials .footer_social:not(:last-child) {
          margin-right: 4rem; }
    .foot .footer_copy {
      grid-column: 1/3;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: .5rem; }
      .foot .footer_copy-image {
        height: 4rem;
        width: 100%; }
      .foot .footer_copy-text {
        color: #9CB7CF;
        font-size: 1.5rem;
        font-weight: 600; }
      .foot .footer_copy-links .footer_copy-link {
        list-style: none;
        display: flex;
        gap: 1.5rem; }
        .foot .footer_copy-links .footer_copy-link .footer_list {
          display: flex;
          align-items: center;
          justify-content: center; }
          .foot .footer_copy-links .footer_copy-link .footer_list:not(:last-child)::after {
            margin-left: 1rem;
            background-color: #aab4bd; }
          .foot .footer_copy-links .footer_copy-link .footer_list::after {
            content: "";
            height: 10px;
            width: 2px;
            display: block; }
        .foot .footer_copy-links .footer_copy-link .footer_list > a:link,
        .foot .footer_copy-links .footer_copy-link .footer_list > a:visited {
          color: #ffffff;
          font-size: 1.8rem;
          margin-right: 1rem;
          text-decoration: none;
          border-bottom: 1px solid currentColor;
          transition: .15s; }
        .foot .footer_copy-links .footer_copy-link .footer_list > a:hover,
        .foot .footer_copy-links .footer_copy-link .footer_list > a:active {
          color: #8bf4f4;
          border-bottom: 1px solid transparent; }
  .foot .footer_a {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    border-right: 2px solid #fff;
    padding: 3rem 8rem 0rem 3rem; }
  .foot .footer_b {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3rem 0rem 3rem 8rem; }
