.abouts {
    background-color: $color-grey-light-2;
    grid-row: about-start / about-end;
    grid-column: 1/-1;

    display: grid;
    grid-template-columns: 1fr 108rem 1fr;
}

.about {
    grid-column: 2/3;
    padding: 10rem 3rem;


    @media only screen and (max-width:$bp-medium) {
        width: 100vw;
    }

    &_content {
        text-align: center;
        width: 100%;
        margin: 0 auto;

        @media only screen and (max-width:$bp-medium) {
            text-align: left;
        }

        .about_heading {
            font-size: 5rem;
            margin-bottom: 4rem;

            @media only screen and (max-width:$bp-medium) {
                font-size: 4rem;
                font-weight: 900;
            }
        }

        .about_text {
            font-size: 3rem;
            text-align: start;
            margin-bottom: 2.5rem;

            @media only screen and (max-width:$bp-medium) {
                font-size: 2.5rem;
            }
        }
    }

    &_cards {
        margin-top: 4rem;
        display: grid;
        grid-column: 2/3;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-template-rows: 1fr 1fr;
        gap: 3rem;
        align-items: center;
        justify-content: center;


        @media only screen and (max-width:$bp-big) {
            grid-template-columns: repeat(2, 40rem);
            grid-template-rows: 1fr 1fr 1fr;
            gap: 3rem;
            margin: 0 auto;
            padding: 5rem;
        }

        @media only screen and (max-width:$bp-medium) {
            grid-template-columns: minmax(30rem, 50rem);
            grid-template-rows: 1fr 1fr 1fr;
            margin-bottom: 5rem;
        }
    }

    &_card {
        background-color: #fff;
        padding: 2rem 2rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        transition: all .3s;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 10%;
        height: 45rem;

        &:hover {
            transform: translateY(-1px);
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 20px 2px;
        }

        .card_header {
            height: fit-content;

            grid-row: 1/2;
        }

        .card_title {
            font-size: 3rem;
        }

        .card_text {
            font-size: 1.7rem;
            height: fit-content;
        }

        .card_list {
            margin-top: 1rem;
            margin-bottom: 0rem;
            border-top: 1px solid $color-grey-dark-1;

            &-title {
                font-size: 2rem;
                margin: 1rem 0 1.3rem 0;
                font-weight: 400;
            }

            &-items {
                list-style: none;
                font-size: 1.5rem;
                line-height: 2;
                font-weight: 600;
            }

            &-item {
                &:not(:last-child) {
                    margin-bottom: .5rem;
                }
            }
        }

        button.btn {
            height: 5rem;
            margin: 0rem;
        }
    }
}

.article {
    background-color: #fff;
    margin-top: 0rem;
    grid-column: col-start 1 / col-end 5;

    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    gap: 1em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    justify-self: center;

    @media only screen and (max-width:$bp-big) {
        grid-column: 1/2;
        margin-top: 0rem;
        gap: .5rem
    }

    @media only screen and (max-width:$bp-medium) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, min-content);
        justify-content: center;
        width: 100%;
        margin-top: 0rem;
    }

    &_images {
        width: 100%;

        @media only screen and (max-width:$bp-medium) {
            grid-row: 1/2;
            width: 100%;
        }

        .article_image {

            @media only screen and (max-width:$bp-largest) {
                width: 100%;
            }

            @media only screen and (max-width:$bp-medium) {
                width: 100%;
            }
        }
    }

    &_content {
        padding: 0 2rem;

        @media only screen and (max-width:$bp-big) {
            padding: 0 5rem;
        }

        @media only screen and (max-width:$bp-medium) {
            grid-row: 2/3;
        }

        &-heading {
            font-size: 3rem;
            margin-bottom: 2rem;
        }

        &-text {
            font-size: 2rem;
            margin-bottom: 4rem;
        }

        button {
            width: 30rem;
            margin-bottom: 8rem;
        }
    }
}