// COLOR VARIABLES
$color-primary: #ff5c35;
$color-primary-light: #ff5d3559;
$color-primary-light-1: #ff5d3522;

$color-secondary: #fef4ea;

$color-grey-light-1: #ffffff;
$color-grey-light-2: #f6f9fc;

$color-grey-dark-1: #2e475d;
$color-grey-dark-2: #aab4bd;
$color-grey-dark-3: #9CB7CF;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE VARIABLES
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px
$bp-smallest: 20em;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width:$bp-largest) {
        font-size: 50%;
    }

    @media only screen and (max-width:$bp-smallest) {
        font-size: 40%;
    }
}

body {

    font-family: $font-primary;
    color: $color-grey-dark-1;
    font-weight: 300;
    line-height: 1.6;
}

.container {
    width: 140rem;
    margin: 0 auto;
    font-size: 20px;
    display: grid;
    // grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    // grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem)[col-end]) [center-end] minmax(6rem, 1fr) [full-end];

    grid-template-columns: 1fr repeat(8, [col-start] minmax(min-content, 14rem)[col-end])1fr;
    grid-template-rows: [sidebar-start] 10vh [sidebar-end header-start] max-content [header-end about-start] min-content [about-end statistics-start] max-content [statistics-end feature-start] min-content [feature-end footer-start] 1fr [footer-end];
}