header {
    background-color: $color_secondary;
    grid-row: header-start / header-end;
    grid-column: 1/-1;

    display: grid;
    grid-template-columns: 1fr 108rem 1fr;
}

.header {
    padding: 2rem;
    grid-column: 2/3;
    align-items: center;
    padding-top: 12rem;

    display: grid;
    grid-template-columns: 50% 50%;
    gap: 3rem;

    &_content {

        &-title {
            font-size: 4.2rem;
            margin-bottom: 1.5rem;
        }

        &-text {
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }
    }

    &_images {
        width: fit-content;

        .header-image {
            position: float;
            width: 150%;
        }
    }
}