header {
    background-color: $color_secondary;
    grid-row: header-start / header-end;
    grid-column: 1/-1;

    display: grid;
    grid-template-columns: 1fr 108rem 1fr;

    @media only screen and (max-width:$bp-medium) {
        grid-template-columns: 100vw;
    }
}

.header {
    padding: 5rem;
    grid-column: 2/3;
    align-items: center;
    padding-top: 12rem;

    display: grid;
    grid-template-columns: 50% 50%;
    gap: 3rem;

    @media only screen and (max-width:$bp-medium) {
        grid-column: 1/2;
        padding-top: 9rem;
        grid-template-columns: 1fr;
        gap: 0rem;
        grid-template-rows: max-content min-content;
        justify-content: center;
        align-items: center;
    }

    &_content {
        @media only screen and (max-width:$bp-medium) {
            width: 90vw;
        }


        &-title {
            font-size: 6.2rem;
            margin-bottom: 3rem;

            @media only screen and (max-width:$bp-medium) {
                font-size: 4.8rem;
            }
        }

        &-text {
            font-size: 3rem;
            margin-bottom: 2rem;
        }
    }

    &_images {
        display: grid;
        width: fit-content;


        @media only screen and (max-width:$bp-medium) {
            margin-top: 3rem;
            width: 90vw;
        }

        .header-image {
            width: 150%;

            @media only screen and (max-width:$bp-medium) {
                width: 100%;
            }
        }
    }
}