.header {
    padding: 3rem;
    background-color: $color_secondary;
    grid-row: header-start / header-end;
    grid-column: 1/-1;
    align-items: center;
    padding-top: 12rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;

    &_content {

        &-title {
            font-size: 6rem;
            margin-bottom: 3rem;
        }

        &-text {
            font-size: 2rem;
            margin-bottom: 3rem;
        }
    }

    &_images {}

    &-image {
        // grid-row: 2/ -1;
        width: 150%;
    }

}