.side {
    background-color: $color-grey-light-2;
    grid-row: sidebar-start / sidebar-end;
    grid-column: 1/-1;

    display: grid;
    grid-template-columns: 1fr 108rem 1fr;
}

.sides {
    grid-column: 2/3;

    display: grid;
    grid-template-columns: 1fr;

    .sidebar_top {
        grid-row: 1/2;

        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        padding-top: 2rem;

        &-left {
            grid-column: 1/2;
            display: flex;
            gap: 1.5rem;
            list-style: none;
        }

        &-right {
            grid-column: 2/-1;
            justify-content: end;
            display: flex;
            gap: 1.5rem;
            text-decoration: none;
            list-style: none;
        }

        .sidebar_top-left-link:link,
        .sidebar_top-left-link:visited,
        .sidebar_top-right-link:link,
        .sidebar_top-right-link:visited {
            display: block;
            font-size: 1.5rem;
            color: $color-grey-dark-4;
            text-decoration: none;
            font-weight: 600;
        }

        .sidebar_top-left-link:hover,
        .sidebar_top-left-link:active,
        .sidebar_top-right-link:hover,
        .sidebar_top-right-link:active {
            display: block;
            font-size: 1.5rem;
            color: $color-hover-dark;
            text-decoration: underline;
            font-weight: 600;
        }
    }

    .sidebar_bot {
        grid-row: 2/3;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content min-content;
        gap: 1.5rem;
        align-items: center;
        justify-content: center;
        padding-top: 1rem;


        &-left {
            grid-column: 1/2;
            grid-row: 1/2;
            display: flex;
            gap: 2rem;
            list-style: none;
            justify-content: start;
            align-items: center;

            .logo {
                display: flex;
                width: 10rem;
                align-items: center;
                margin-right: 4rem;
                // height: auto;
            }

            &-link:link,
            &-link:visited {
                display: block;
                display: flex;
                align-items: center;
                font-size: 1.8rem;
                color: $color-grey-dark-4;
                text-decoration: none;
                font-weight: 600;
            }

            &-link:hover,
            &-link:active {
                color: $color-hover-dark;
                text-decoration: underline;
                font-weight: 600;
            }
        }

        &-right {
            grid-column: 2/-1;
            grid-row: 1/2;
            justify-content: end;
            display: flex;
            text-decoration: none;
            list-style: none;
        }


        button.btn.btn-color {
            padding: 1rem 2rem;
            font-size: 1rem;
            margin-bottom: 0rem;
        }

        button.btn.btn-white {
            padding: 1.2rem 2rem;
            font-size: 1rem;
            margin-bottom: 0rem;
            margin-right: 0rem;
        }
    }
}

.disclaimers {
    grid-column: 1/-1;
    background-color: #57d2d2;

    display: grid;
    grid-template-columns: 1fr 108rem 1fr;
}

.disclaimer {
    padding: 2rem 25rem;
    grid-column: 2/3;

    &-text {
        color: $color-grey-dark-1;
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        font-family: $font-primary;
    }
}